<h1>New Favorite</h1>

<p>Enter numbers in comma seperated format. There are no validations, so
make sure you enter 7,4,6,5,3,2,8 or something in that exact format.</p>  

<%= render 'form' %>

<%= link_to 'Back', favorites_path %>
